body {
    background-image: url('WhoWaWay.github.io\Appendix\logo.PNG'); /* Path to your background image */
    background-size: cover; /* Adjusts the image size to cover the entire background */
    background-position: center; /* Centers the background image */
    /* Additional background properties can be added as needed */
}

/* Optional: Add styles for other elements on your website */
h1 {
    color: white; /* Example style for headings */
}

/* Add more styles as needed */
