# System Verification
<img width="1003" alt="image" src="https://github.com/WhoWaWay/WhoWaWay.github.io/assets/157083035/e4cc8381-4a3b-485c-af36-d25076da9747">

